<p>Hola <%= @resource.email %>!</p>

<p>Se hizo una solicitud de cambio de contraseña recientemente de tu cuenta.</p></b>
<p>Si solicitaste este cambio de contraseña, por favor sigue las instrucciones usando el enlace a continuación:.</p></b>

<p><%= link_to 'Cambiar contraseña', edit_password_url(@resource, :reset_password_token => @resource.reset_password_token) %></p>

<p>Si no deseas cambiar tu contraseña, sólo ignora este mensaje.</p>
<p>Tu contraseña no se cambiará hasta que accedas al enlace y configure una nueva.</p>
